@model SocialDashboard.Models.TwitterProviderConfigViewModel

@using (Html.BeginForm("AddProviderToTimeline", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <tr>
        <td>
            @Html.EditorFor(m => m.TwitterUser)
        </td>
        <td>
            @Html.EditorFor(m => m.TimelineResultsCount)
        </td>
        <td>
            @Html.EditorFor(m => m.OldestResultId)
        </td>
        <td>
            @Html.EditorFor(m => m.IncludeReplies)
        </td>
        <td>
            @Html.EditorFor(m => m.IncludeRetweets)
        </td>
        <td>
            @Html.EditorFor(m => m.IncludeHowLongSincePublished)
        </td>
        <td>
            <input type="submit" value="Add" class="btn btn-default" />
        </td>
    </tr>
}