@model SocialDashboard.Models.SocialDashboardViewModel
@using SocialDashboard.Models.YouTube;
@using SocialDashboard.Models.Twitter;
@{
    ViewBag.Title = "Social Dashboard";
}

@Html.Partial("_MessagePartial")

@if (Model != null)
{
    @*----------------------------------------------------------- USER INFO -----------------------------------------------------------*@
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("_YouTubeChannelPartial", Model.YouTubeAccount.Channel)
            </div>
            <div class="col-md-6">
                @Html.Partial("_TwitterUserPartial", Model.TwitterAccount.User)
            </div>
        </div>
    </div>

    @*------------------------------------------------------------ ENTRIES ------------------------------------------------------------*@
    <hr />
    <div class="row">
        @foreach (var dashboardEntry in Model.RecentActivity)
        {
            <div>
                <table>
                    <thead>
                        <tr>
                            @if (ViewBag.HowLongSincePublished == true)
                            {
                                <th width="15%"></th>
                            }
                            <th width="65%"></th>
                            <th class="20%"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (dashboardEntry.GetType() == typeof(Video))
                        {
                            var item = (Video) dashboardEntry;
                            <tr>
                                @if (ViewBag.HowLongSincePublished == true)
                                {
                                    <td>
                                        @item.HowLongSincePublished
                                    </td>
                                }
                                <td>
                                    <p>
                                        @* YouTube embedded video player *@
                                        <iframe width="320" height="180" src="http://www.youtube.com/embed/@item.Id" frameborder="0"></iframe>

                                        <h4>@Html.DisplayFor(modelItem => item.Media.Title)</h4>
                                        @if (@item.Media != null)
                                        {
                                            if (item.Media.Description != null)
                                            {
                                                @item.Media.Description
                                            }
                                        }
                                    </p>
                                    <hr />
                                </td>
                                <td>
                                    <p>  </p>
                                    <p> Published: @Html.DisplayFor(modelItem => item.Published) </p>
                                    <p> Updated:  @Html.DisplayFor(modelItem => item.Updated) </p>
                                    <p>
                                        Likes: @Html.DisplayFor(modelItem => item.Rating.Likes)
                                        Dislikes: @Html.DisplayFor(modelItem => item.Rating.Dislikes)
                                    </p>
                                    <p> Views: @Html.DisplayFor(modelItem => item.Statistics.ViewCount) </p>
                                    <p> Comments: @Html.DisplayFor(modelItem => item.Comments.CommentsCount) </p>
                                </td>
                            </tr>
                        }
                        else
                        {
                            var item = (Tweet) dashboardEntry;
                            <tr>
                                @if (ViewBag.HowLongSincePublished == true)
                                {
                                    <td>
                                        @item.HowLongSincePublished
                                    </td>
                                }
                                <td>
                                    @if (ViewBag.NoUserDetailsInTweet == false)
                                    {
                                        <h4> <a href="@item.User.Link"><strong>@Html.DisplayFor(modelItem => item.User.Name)</strong> @Html.DisplayFor(modelItem => item.User.ScreenName)</a></h4>
                                    }

                                    @* Decoding string form Twitter (special characters encoded in their HTML entity representation)
                                        and parsing links (updated in code during request fetching). *@
                                    <p>@Html.Raw(WebUtility.HtmlDecode(item.Text))</p>

                                    <a href="@item.Link">
                                        <p>@Html.DisplayFor(modelItem => item.Published)</p>
                                    </a>
                                    <p> Retweets: @Html.DisplayFor(modelItem => item.Statistics.RetweetsCount) | Favourites: @Html.DisplayFor(modelItem => item.Statistics.FavouritesCount)</p>

                                    @if (item.Entities.Media != null)
                                    {
                                        foreach (var entity in item.Entities.Media)
                                        {
                                            <img width="438" src="@entity.Source:medium" />
                                        }
                                    }
                                    <hr />
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
}