@model SocialDashboard.Models.TimelineConfigViewModel
@using SocialDashboard.Models;

@{
    ViewBag.Title = "Configure Twitter Providers Timeline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timeline (ID: @Model.Id)</h2>

<table>
    <tr>
        <td>ID: @Html.DisplayFor(m => m.Id) | </td>
        <td>Name: @Html.EditorFor(m => m.Name) | </td>
        <td>Merge all activity: @Html.EditorFor(m => m.MergedTimeline)</td>
        <td>
            @Html.ActionLink("Update", "Update", Model.Id, new { @class = "btn btn-default" })
    </td>
</tr>
</table>
<hr />
@*<select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>*@

@Html.ValidationSummary(true)

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Twitter User")
            </th>
            <th>
                @Html.DisplayName("Timeline Results")
            </th>
            <th>
                @Html.DisplayName("Oldest Result Id")
            </th>
            <th>
                @Html.DisplayName("Replies")
            </th>
            <th>
                @Html.DisplayName("Retweets")
            </th>
            <th>
                @Html.DisplayName("Publish Time Description")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TwitterProviderConfig)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TwitterUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimelineResultsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldestResultId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludeReplies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludeRetweets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludeHowLongSincePublished)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", item, new { @class = "btn btn-default" })
                    @Html.ActionLink("Test", "Test", item, new { @class = "btn btn-default" })
                </td>
            </tr>
        }

        @Html.Partial("_CreateTwitterProviderPartial", new TwitterProviderConfigViewModel { TimelineId = Model.Id })

    </tbody>
</table>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
