@model IEnumerable<SocialDashboard.Models.Twitter.Tweet>
<table>
    <thead>
        <tr>
            @if (ViewBag.HowLongSincePublished == true)
            {
                <th></th>
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.HowLongSincePublished == true)
                {
                    <td>
                        @item.HowLongSincePublished
                    </td>
                }
                <td>
                    @if (ViewBag.NoUserDetailsInTweet == false)
                    {
                        <h4> <a href="@item.User.Link"><strong>@Html.DisplayFor(modelItem => item.User.Name)</strong> @Html.DisplayFor(modelItem => item.User.ScreenName)</a></h4>
                    }

                    @* Decoding string form Twitter (special characters encoded in their HTML entity representation)
                        and parsing links (updated in code during request fetching). *@
                    <p>@Html.Raw(WebUtility.HtmlDecode(item.Text))</p>

                    <a href="@item.Link">
                        <p>@Html.DisplayFor(modelItem => item.Published)</p>
                    </a>
                    <p> Retweets: @Html.DisplayFor(modelItem => item.Statistics.RetweetsCount) | Favourites: @Html.DisplayFor(modelItem => item.Statistics.FavouritesCount)</p>
                    
                    @if (item.Entities.Media != null)
{
    foreach (var entity in item.Entities.Media)
    {
        <img width="438" src="@entity.Source:medium" />
    }
}
                    <hr />
                </td>
            </tr>
        }
    </tbody>
</table>