@model SocialAlliance.Models.WebConfig.TwitterProviderConfig

@using (Ajax.BeginForm("AddTwitterProviderToTimeline", "Timelines", 
    new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "twitterProvidersList" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    
    <tr>
        @Html.HiddenFor(m => m.TimelineId)
        <td>
            @Html.EditorFor(m => m.User)
        </td>
        <td>
            @Html.EditorFor(m => m.TimelineResultsCount)
        </td>
        <td>
            @Html.EditorFor(m => m.OldestResultId)
        </td>
        <td>
            @Html.EditorFor(m => m.IncludeReplies)
        </td>
        <td>
            @Html.EditorFor(m => m.IncludeRetweets)
        </td>
        <td>
            @Html.EditorFor(m => m.IncludeHowLongSincePublished)
        </td>
        <td>
            <input type="submit" value="Add" class="btn btn-default" />
        </td>
    </tr>
}