@model SocialAlliance.Models.WebConfig.TimelineConfig

@using (Ajax.BeginForm("Add", "Timelines",
    new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "timelinesList" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <tr>
        <td>
            @Html.EditorFor(m => m.Id)
        </td>
        <td>
            @Html.EditorFor(m => m.Name)
        </td>
        <td>
            @Html.EditorFor(m => m.Merged)
        </td>
        <td>
            @Html.EditorFor(m => m.SingleUser)
        </td>
        <td>
            <input type="submit" value="Add" class="btn btn-default" />
        </td>
    </tr>
}
