@model SocialAlliance.Models.WebConfig.TimelineConfig
@using SocialAlliance.Models.WebConfig;
@using SocialAlliance.Models;

<table id="twitterProvidersList">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Twitter User")
            </th>
            <th>
                @Html.DisplayName("Timeline Results")
            </th>
            <th>
                @Html.DisplayName("Oldest Result Id")
            </th>
            <th>
                @Html.DisplayName("Replies")
            </th>
            <th>
                @Html.DisplayName("Retweets")
            </th>
            <th>
                @Html.DisplayName("Publish Time Description")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TwitterProviderConfig item in Model.TwitterProviders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimelineResultsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldestResultId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludeReplies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludeRetweets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludeHowLongSincePublished)
                </td>
                <td>
                    @Ajax.ActionLink("Test", "Test", new { user = item.User, accountType = AccountType.twitter }, 
                        new AjaxOptions {HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "messageText"}, new { @class = "btn btn-default" })
                    @Ajax.ActionLink("Delete", "DeleteProvider", new { timelineId = Model.Id, user = item.User, accountType = AccountType.twitter },
                        new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "twitterProvidersList" }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }

        @*--------------------------------------------------------- ADD-NEW ROW ---------------------------------------------------------*@

        @Html.Partial("_CreateTwitterProviderPartial", new TwitterProviderConfig() { TimelineId = Model.Id })

    </tbody>
</table>