@model SocialAlliance.Models.WebConfig.TimelineConfig

@{
    ViewBag.Title = "Configure Twitter Providers Timeline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timeline (ID: @Model.Id)</h2>

@Html.Partial("_MessagePartial")

@Html.ValidationSummary(true)

@Html.Partial("_TimelineDetailsPartial", Model)

<hr />

@Html.Partial("_YouTubeProvidersListPartial", Model)

@Html.Partial("_TwitterProvidersListPartial", Model)

@section Scripts{
    @Scripts.Render("~/bundles/jquery-ajax")
}