@model IEnumerable<Potato.Dashboard.Models.YouTube.Video>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>
                        @* YouTube embedded video player *@
                        <iframe width="320" height="180" src="http://www.youtube.com/embed/@item.Id" frameborder="0"></iframe>

                        <h4>@Html.DisplayFor(modelItem => item.Media.Title)</h4>
                        @item.Media.Description
                    </p>
                </td>
                <td>
                    <p>  </p>
                    <p> Published: @Html.DisplayFor(modelItem => item.Published) </p>
                    <p> Updated:  @Html.DisplayFor(modelItem => item.Updated) </p>
                    <p>
                        Likes: @Html.DisplayFor(modelItem => item.Rating.Likes)
                        Dislikes: @Html.DisplayFor(modelItem => item.Rating.Dislikes)
                    </p>
                    <p> Views: @Html.DisplayFor(modelItem => item.Statistics.ViewCount) </p>
                    <p> Comments: @Html.DisplayFor(modelItem => item.Comments.CommentsCount) </p>
                </td>
            </tr>
        }
    </tbody>
</table>
