@model Potato.Dashboard.Models.YouTubeVideoChannelViewModel
@{
    ViewBag.Title = "YouTube Video Dashboard";
}

@*---------------------------------------------------------- CHANNEL INFO ----------------------------------------------------------*@
<div class="row">
    <div class="col-md-10">
        <h2>
            <a href="@Model.Channel.Link"><img src="@Model.Channel.Thumbnail" /></a>
            <a href="@Model.Channel.Link">@Model.Channel.Author.Name</a>'s YouTube Channel
        </h2>
        <p> Last update: @Html.DisplayFor(m => m.Channel.Updated) </p>
        <p> Subscribers: @Html.DisplayFor(m => m.Channel.Statistics.SubscriberCount) </p>
        <p> Total video views: @Html.DisplayFor(m => m.Channel.Statistics.TotalUploadViews) </p>
    </div>
    <div class="col-md-1">
        @Html.ActionLink("Refresh channels", "Index", "Dashboard", null, new { @class = "btn btn-default" })
    </div>
</div>


@*----------------------------------------------------------- PLAYLISTS -----------------------------------------------------------*@
<div class="row">
    @foreach (var item in Model.Playlists)
    {
        <div class="col-md-6">

            @* Playlist Info *@

            <h4><a href="@item.Link">@Html.DisplayFor(modelItem => item.Title) </a></h4>
            <p>
                Updated
                @if (item.Updated.HasValue)
                {
                    @Html.DisplayFor(modelItem => item.Updated)
                }
                else
                {
                    @: just recently
                }, contains @Html.DisplayFor(modelItem => item.EntriesCount) videos.
            </p>

            @* Playlist Video List *@

            @if (item.Entries != null)
            {
                @Html.Partial("_VideoListPartial", item.Entries)
            }
        </div>
    }
</div>