@model SocialDashboard.Models.YouTubeVideoChannelViewModel
@{
    ViewBag.Title = "YouTube Video Dashboard";
}

@Html.Partial("_MessagePartial")

@if (Model != null)
{
    @*---------------------------------------------------------- CHANNEL INFO ----------------------------------------------------------*@
    <div class="row">
        <div class="col-md-10">
            @Html.Partial("_YouTubeChannelPartial", Model.Channel)
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Refresh channels", "Index", "YouTube", null, new { @class = "btn btn-default" })
        </div>
    </div>


    @*----------------------------------------------------------- PLAYLISTS -----------------------------------------------------------*@
    <hr />
    <div class="row">
        @foreach (var item in Model.Playlists)
        {
            <div class="col-md-6">

                @* Playlist Info *@

                <h4><a href="@item.Link">@Html.DisplayFor(modelItem => item.Title) </a></h4>
                <p>
                    Updated
                    @if (item.Updated.HasValue)
                    {
                        @Html.DisplayFor(modelItem => item.Updated) @:, contains @Html.DisplayFor(modelItem => item.EntriesCount) videos.
                }
                    else
                    {
                        // Valid for most recent playlist.
                        @: just recently
                }
                </p>

                @* Playlist Video List *@

                @if (item.Entries != null)
                {
                    @Html.Partial("_YouTubeVideoListPartial", item.Entries)
                }
            </div>
        }
    </div>
}
